.DS_Store
*.swp

*.cmo
*.cmi
*.o
._bcdi
._d

min-caml
min-caml.top

/libmincaml.S

/asm.ml
/asm.mli
/emit.ml
/lexer.ml
/parser.ml
/parser.mli
/regAlloc.ml
/simm.ml
/virtual.ml

/test/
!/test/*.c
!/test/*.ml

/min-rt/globals.s
/min-rt/min-rt.s

/bytemark/Makefile
/shootout/Makefile

